<!DOCTYPE html>
<html>
    <head>
        <title>jQuery Mobile Application</title>
        <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
        <script>
    
            

        </script>

        <style type="text/css">
             
                  
        </style>
    </head>
    <body>
        <h1>cats</h1>
        <img style="-webkit-user-select: none" src="http://placekitten.com/g/200/400">
    </body>
</html>