<!DOCTYPE html>
<html>
    <head>
        <title>Jay JSON</title>
        <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
        <style type="text/css">

        </style>

    </head>
    <body>
        <h1>Jay JSON</h1>

    </body>
</html>