<!doctype html>
<head>
  <meta charset="utf-8">

  <title>gregcswanson</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;">
    
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS -->
  <link rel="stylesheet" href="stylesheets/style.css">
   <link rel="stylesheet" href="stylesheets/mediaqueries.css"> 
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
   <script src="javascripts/modernizr-2.0.6.min.js"></script> 
</head>
<body>

  <div id="container">
    <header>
        <h1>gregcswanson</h1>
    </header>
    <div id="main" role="main">
        <div class="namecontainer">
            <div class="namebox"><span>g</span></div>
            <div class="namebox"><span>r</span></div>
            <div class="namebox"><span>e</span></div>
            <div class="namebox"><span>g</span></div>
            <div class="namebox"><span>c</span></div>
            <div class="namebox"><span>s</span></div>
            <div class="namebox"><span>w</span></div>
            <div class="namebox"><span>a</span></div>
            <div class="namebox"><span>n</span></div>
            <div class="namebox"><span>s</span></div>
            <div class="namebox"><span>o</span></div>
            <div class="namebox"><span>n</span></div>
        </div>
        <div class="namecontainer2">
            <a href="#">home</a>
            <a href="#">projects</a>
            <a href="#">time</a>
            <a href="#">contacts</a>
            <a href="#">contracts</a>
            <a href="#">setup</a>
            <a href="#">reports</a>
            <a href="#">help</a>
        </div>
        <div class="boxcontainer">
            <div class="box"><span>1</span></div>
            <div class="box"><span>2</span></div>
            <!-- <div class="selectedbox"></div> -->
            <div class="box"><span>3</span></div>
            <div class="box"><span>4</span></div>
            <div class="box"><span>5</span></div>
            <div class="box"><span>6</span></div>
            <div class="box"><span>7</span></div>
            <div class="box"><span>8</span></div>
            <div class="box"><span>9</span></div>
            <div class="box"><span>10</span></div>
            <div class="box"><span>11</span></div>
            <div class="box"><span>12</span></div>
        </div>
        <p>tabs</p>
        <p>label control label control</p>
        <div class="details_layout">
            <div><p>label 1<p/></div>
            <div><input type="text" value="text"></text></div>
            <div><p>label 1<p/></div>
            <div><input type="text" value="text"></text></div>
            <div><p>label 1<p/></div>
            <div><input type="text" value="text"></text></div>
            <div><p>label 1<p/></div>
            <div><input type="text" value="text"></text></div>
        </div>
        
    </div>
    <footer>

    </footer>
  </div> <!--! end of #container -->


    <!-- JavaScript at the bottom for fast page loading -->

    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.15/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.15/jquery-ui.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-1.2.1.js"></script>
    <script src="../javascripts/jquery-knockout-select-plugin.js" type="text/javascript"></script>
    <script src="../javascripts/amplify.min.js" type="text/javascript"></script>
       
  
</body>
</html>
