<!doctype html><head><title>seasista</title></head>
<body> 
    <div style="width: 900px;margin:auto;padding:0;">
    
    <div style="float:left;padding:0;"> 
        <table style="border-spacing:5px">
            <tr>
                <td style="padding:1px 4px 1px 4px;"><img border = "0" height = "320" src="https://sites.google.com/a/seasista.com/seasista/shop/tree%20frame.jpg?height=320&amp;width=212" style="display:inline;margin:5px;" width="212" />
                </td>
                <td style="padding:1px 4px 1px 4px;">    <img border = "0" height = "320" src="https://sites.google.com/a/seasista.com/seasista/shop/balls%20frame.jpg?height=320&amp;width=212" style="display:inline;margin:5px" width="212" />
            </td>
            </tr>
            <tr>
                <td style="padding:1px 4px 1px 4px;"><img border = "0" height = "320" src="https://sites.google.com/a/seasista.com/seasista/shop/joy%20card%20on%20beach.jpg?height=320&amp;width=212" style="display:inline;margin:5px" width="212" />
                </td>
                <td style="padding:1px 4px 1px 4px;"><img border = "0" height = "320" src="https://sites.google.com/a/seasista.com/seasista/shop/balls%20card%20on%20beach.jpg?height=320&amp;width=212" style="display:inline;margin:5px" width="212" />
            </td>
            </tr>
            <tr>
                <td style="padding:1px 4px 1px 4px;"><img border = "0" height = "320" src="https://sites.google.com/a/seasista.com/seasista/shop/seasista4.jpg?height=320&amp;width=212" style="display:inline;margin:5px" width="212" />
                </td>
                <td style="padding:1px 4px 1px 4px;">    <img border = "0" height = "320" src="https://sites.google.com/a/seasista.com/seasista/shop/seasista%2025.jpg?height=320&amp;width=212" style="display:inline;margin:5px" width="212" />
            </td>
            </tr>
        </table>
        
    </div>
    <div style="float:right;padding:0;">
        <table>
            <tr><td style="padding:1px 4px 1px 4px;">
                <img border="0" style="display:inline;margin:5px" height="266" width="400" src="https://sites.google.com/a/seasista.com/seasista/shop/seasista%2020.jpg?height=212&amp;width=320" />
            </td></tr>
            <tr><td style="padding:1px 4px 1px 4px;">
                <img border="0" style="display:inline;margin:5px" height="266" width="400" src="https://sites.google.com/a/seasista.com/seasista/shop/tree%20card.jpg?height=212&amp;width=320" />
            </td></tr>
            <tr><td style="padding:1px 4px 1px 4px;">
                <img border="0" style="display:inline;margin:5px" height="266" width="400" src="https://sites.google.com/a/seasista.com/seasista/shop/seasista%2021.jpg?height=213&amp;width=320" />
            </td></tr>
        </table>
    </div>
    </div>
    <div style="width: 900px;margin:auto;padding:0;">
    <div style="float:left;padding:0;"> 
        <ul style="list-style-type: none;">
            <li>
                <img border = "0" height = "320" src="http://placekitten.com/g/212/320" style="display:inline;margin:5px" width="212" />
                <img border = "0" height = "320" src="http://placekitten.com/213/321" style="display:inline;margin:5px" width="212" />
            </li>
            <li>
                <img border = "0" height = "320" src="http://placekitten.com/214/322" style="display:inline;margin:5px" width="212" />
                <img border = "0" height = "320" src="http://placekitten.com/215/323" style="display:inline;margin:5px" width="212" />
            </li>
            <li>
                <img border = "0" height = "320" src="http://placekitten.com/g/216/324" style="display:inline;margin:5px" width="212" />
                <img border = "0" height = "320" src="http://placekitten.com/217/325" style="display:inline;margin:5px" width="212" />
            </li>
        </ul>
        
    </div>
    <div style="float:right;padding:0;">
        <ul style="list-style-type:none;padding:0;">
            <li>
                <img border="0" style="display:inline;margin:5px" height="266" width="400" src="http://placekitten.com/400/266" />
            </li>
            <li>
                <img border="0" style="display:inline;margin:5px" height="266" width="400" src="http://placekitten.com/401/267" />
            </li>
            <li>
                <img border="0" style="display:inline;margin:5px" height="266" width="400" src="http://placekitten.com/g/402/268" />
            </li>
            <li>
                <img border = "0" height = "146" src="http://placekitten.com/326/226" style="display:inline;margin:5px" width="193" />
                <img border = "0" height = "146" src="http://placekitten.com/327/227" style="display:inline;margin:5px" width="193" />
            </li>
        </ul>
    </div>
    </div>
</body>
</html>