body {
    padding-top: 60px;
    font-family: 'Terminal Dosis', sans-serif;
}
            
DIV.topbar-inner {
    height: 40px;  
    padding-left:20px;
}

DIV.counter-container {
    padding-top: 30px;
    height: 100px;
    width: 560px;
    margin: auto;   
}

.footer-large-desktop, .footer-desktop, .footer-tablet, .footer-phone
{
    display: none;
}